@mixin space-between {
    display: flex;
    justify-content: space-between;
}

@mixin space-between-centered {
    @include space-between;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}