@use '../../../assets/scss/variables';
@use '../../../assets/scss/display';

button {
    @include display.align-center;
    border: .1rem solid variables.$black02;
    border-radius: variables.$radius4px;
    background: variables.$transparent;
    cursor: pointer;
    padding: 1.6rem;
    margin-left: .8rem;
    height: 4.8rem;

    &:nth-child(1) {
        font-size: 2rem;
    }
}