@use '../../../assets/scss/variables';

button {
    border: 1px solid variables.$black02;
    border-radius: variables.$radius4px;
    cursor: pointer;
    background: transparent;
    padding: 16px;
    height: 48px;
}