<div class="home">
    <app-header>
      ToDo List v1
      <app-icon-button (click)="fullScreen()" header-icon>
        <fa-icon [icon]="faExpand"></fa-icon>
      </app-icon-button>
    </app-header>
    
    <div class="task-box">
      <app-add-task (newTask)="addTask($event)"></app-add-task>
    
      <app-divider></app-divider>

      <article class="task-list">
        <app-task *ngFor="let t of tasks" [task]="t" (deletedTask)="deleteTask($event)" (updatedTask)="completeTask($event)"></app-task>
      </article>
    </div>
</div>
