@use '../../../assets/scss/display';

.home {
    margin: 3rem auto;
    width: 40vw;
    max-width: 512px;
}

.task-box {
    @include display.column;
}

.task-list {
    width: 100%;
}

@media screen and (max-width: 850px) {
    .home {
        width: 100vw;
        padding: 0 2.4rem 0 2.4rem;
    }
}