::-webkit-scrollbar {
    display: none;
}

.column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    @extend .justify-align-center;
    height: 90vh;
}

.partial {
    @extend .column-align-center;
    width: 50vw;
    background-color: #fff;
    padding: 2rem 10rem 2rem 10rem;
    max-height: 70vh;
    min-height: 70vh;
    overflow-y: scroll;
}

