
  <section>
    <h1>LISTA DE TAREAS DE FEDE</h1>

    <div class="task-box">
      <article class="add-option">
        <input type="text">
        <button>ADD</button>
      </article>
      
      <article class="task-list">
        <div class="task">
          <div>
            <input type="checkbox">
            <label>Task N</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <div class="task">
          <div>
            <input type="checkbox">
            <label>Task N-1</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <div class="task">
          <div>
            <input type="checkbox" checked>
            <label class="line-through">Completed Task N-2</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <div class="task">
          <div>
            <input type="checkbox">
            <label>Task K</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <div class="task">
          <div>
            <input type="checkbox">
            <label>Task 2</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
        <div class="task">
          <div>
            <input type="checkbox" checked>
            <label class="line-through">Completed Task 1</label>
          </div>
          <fa-icon [icon]="faTrash"></fa-icon>
        </div>
      </article>
    </div>
  </section>
