@use '../../../assets/scss/display';
@use '../../../assets/scss/variables';

.line-through {
    text-decoration: line-through;
}

.task {
    @include display.space-between-centered;
    background: variables.$black01;
    border-radius: variables.$radius4px;
    cursor: pointer;
    padding: .8rem;
    margin-bottom: 1rem;

    .description {
        width: 55%;
        margin-left: .8rem;
        text-overflow: ellipsis;
        overflow: hidden;

        span {
            font-size: 2.4rem;
        }
    }   
}


