.space-between {
    display: flex;
    justify-content: space-between;
}

.add-option {
    @extend .space-between;
    
    input, button {
        padding: 1rem;
    }
    
    button {
        cursor: pointer;
    }
    
    input {
        width: 75%;
    }
}