@use '../../assets/scss/display';
@use '../../assets/scss/variables';

:host {
    backdrop-filter: blur(10px);
    width: 100%;
    margin: 16px 0px 16px 0px;
    position: sticky;
    top: 1rem;
    
    form {
        @include display.space-between;
        border-radius: variables.$radius4px;
        background: variables.$black01;
        padding: 8px;
        
        input {
            font-family: 'Roboto', sans-serif;
            width: 85%;
            font-size: 24px;
            padding: 8px;
            background: transparent;
            border: none;
            
            &:focus {
                outline: 1px solid red; 
            }
        }
    }
}

@media screen and (max-width: 600px) {
    :host {
        form {
            input {
                width: 70%;
            }
        }
    }
}