@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

/*General styles*/

html {
  font-family: 'Signika Negative', sans-serif; /*Solucionar error: no detecta la fuente*/
}

h1, body, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  background-color: #d4d4d4;
}

input[type=checkbox] {
  transform: scale(1.5);
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}