@use './assets/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
  font-size: 62.5%; // 10px
}

html, input {
  font-family: variables.$font;
}

h1,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}