@use '../../../assets/scss/display';
@use '../../../assets/scss/variables';

:host {
    backdrop-filter: blur(10px);
    width: 100%;
    margin-top: 1.6rem;
    position: sticky;
    top: 1rem;
    
    form {
        @include display.space-between;
        border-radius: variables.$radius4px;
        background: variables.$black01;
        padding: .8rem;
        
        input {
            font-family: 'Roboto', sans-serif;
            font-size: 2.4rem;
            padding: .8rem;
            width: 85%;
            background: variables.$transparent;
            border: none;
            
            &:focus {
                outline: .1rem solid red; 
            }
        }
    }
}