@use '../../assets/scss/display';

.home {
    margin: 5% auto;
    width: 40vw;
    max-width: 512px;
}

.task-box {
    @include display.column;
}

.task-list {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .home {
        width: 95vw;
        padding-left: 24px;
        padding-right: 24px;
    }
}